@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #031c29;
    color: black;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #041a30;
    max-width: 900px;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
}
h1{
    background: linear-gradient(45deg, #02264b,#014b71,#0096be,#00d4ff, #02264b);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400% 100%;
    font-weight: bold;
    font-size: 50px;
    animation: rafa 10s linear infinite;
}

@keyframes rafa {
    0%{background-position-x: 100%;}
    100%{background-position: 400%;}
}

.titulo{
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: bold;
}

input[type="text"]{
    height: 40px;
    width: 350px;
    text-align: center;
    padding: .5rem;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

input::placeholder{
    font-size: 18px;
}

button{
    height: 40px;
    padding: .5rem;
    background-color: #014b71;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: .5rem;
    cursor: pointer;
}

p{
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: bold;
    padding-top: .5rem;
}

ul{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 10px;
    list-style: none;
}
ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    width: 385px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}